@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$text-colour: #cfcfcf;

$gray-medium: rgb(33, 33, 33);
$gray-dark: #080808;
$gray-light: rgb(39, 39, 39);

// Update Bulma's global variables
$family-primary: "Quicksand", sans-serif;
$family-sans-serif: "Quicksand", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text: $text-colour;
$text-strong: #fff;

$info: #ac7fdbff;

// Update some of Bulma's component variables
$body-background-color: #06040B;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//Title Properties

$title-color: #fff;

//Navbar

$navbar-background-color: #0d0b12;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

// Below Here Is General CSS Code

a.navbar-item {
  color: $text-colour;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: transparent;
  color: #fff;
}

// Here Is Wave Seperator Stuff

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("../images/wave1.svg");
}
