@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

// Set your brand colors
$purple: rgba(78, 21, 146, 1);
$purple-light: #0e091c;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$text-colour: #cfcfcf;
$upper-body-color: #15131a;

$gray-medium: rgb(33, 33, 33);
$gray-dark: #080808;
$gray-light: rgb(39, 39, 39);

// Update Bulma's global variables
$family-primary: "Quicksand",
sans-serif;
$family-sans-serif: "Quicksand",
sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text: $text-colour;
$text-strong: #fff;

$info: #ac7fdbff;

// Update some of Bulma's component variables
$body-background-color: #06040b;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-background-color: $upper-body-color;
$input-disabled-background-color: $upper-body-color;

//Buttons
$button-focus-box-shadow-color: $purple;

//Title Properties

$title-color: #fff;

//Navbar

$navbar-background-color: #0d0b12;

//Menu

$menu-item-hover-background-color: darken($body-background-color, 1%);

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/components/menu.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/grid/columns.sass";

// Below Here Is General CSS Code
html,
body {
  height: 100%;
}

a.navbar-item {
  color: $text-colour;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: transparent;
  color: #fff;
}

// Here Is Wave Seperator Stuff

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bordered {
  border-radius: 15px;
}

.is-72px {
  flex: none;
  width: 72px;

}

.wrapperThing {
  flex: 1;
  overflow-y: scroll;
}

.noOverflow {
  overflow-y: hidden;
  overflow-x: hidden;
}

.is-100 {
  width: 100%;
  height: 100%;
}

.margin-15 {
  margin-left: 15px;
  margin-right: 15px;
}

br {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.layer1 {
  background-image: url("../images/wave1.svg");
}

.button-gradient {
  background: rgb(88, 101, 242);
  background: linear-gradient(90deg, rgba(88, 101, 242, 1) 0%, $purple 64%);
}

.button-login {
  background: $upper-body-color;
  box-shadow: 0 0 0 0.125em #4e1592;
}

.button-heading {
  padding: 0 27px;
  outline: none;
  border-radius: 8px;
  border-color: $upper-body-color;
  top: 0;

  transition: all 0.3s ease-in-out;
  margin-left: 0.9rem !important;
  margin-right: 0.9rem !important;
}

.button-heading:hover {
  border-color: $upper-body-color;
  color: #fff;
  transform: scale(1.2);
  top: -10px;
}

.button-heading:focus {
  border-color: $upper-body-color;
  color: #fff;
}

.l-align {
  text-align: left;
}

.r-align {
  text-align: right;
}

.c-align {
  text-align: center;
}

.is-purple {
  color: $purple;
}

.is-soft-bottom {
  margin-bottom: 35px;
}

.no-select {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.is-scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
}

.is-tall {
  height: 100%;
}

.is-fixed {
  position: fixed;
}

#aside {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 350px;
}

#main {
  background-color: #0b0715;

  min-width: auto;
  height: fit-content;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 30px;
  word-break: break-all;
  border-bottom-right-radius: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.is-card {
  background-color: #0e091c;
  border-radius: 30px;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.is-list {
  background-color: #0b0716;
  border-radius: 30px;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.is-indented {
  padding-left: 10px;
}

//Slider CSS Properties
.is-ToggleButton {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #1f143f;
  top: 50%;
  transform: translateY(-50%);
}

.is-ToggleButton:focus,
.is-ToggleButton.focus,
.is-ToggleButton:focus.active,
.is-ToggleButton.focus.active {
  outline: none;
}

.is-ToggleButtonA {
  transition: background-color 0.25s;
  background-color: #432b87;
}

.handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}

.handleA {
  left: 1.6875rem;
  transition: left 0.25s;
}

.is-ToggleButton::before {
  opacity: 1;
  text-align: right;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
  content: "Off";
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
  box-sizing: inherit;
}

.is-ToggleButtonA::before {
  opacity: 0;
}

.is-ToggleButton::after {
  opacity: 0;
  text-align: left;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
  content: "On";
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
  box-sizing: inherit;
}

.is-ToggleButtonA::after {
  opacity: 1;
}

.float-right {
  float: right;
}

//Loading For Button

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  margin: 8px;
  border: 8px solid #aaf;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #aaf transparent transparent transparent;
  top: -7px;
  left: -7px;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

//MODULE BUTTON
.is-ModuleButton {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 6rem;
  width: 6rem;
  border-radius: 3rem;
  color: #6b7381;
  background: #1f143f;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.is-ModuleButton:focus,
.is-ModuleButton.focus,
.is-ModuleButton:focus.active,
.is-ModuleButton.focus.active {
  outline: none;
}

.is-ModuleButtonA {
  transition: background-color 0.25s;
  background-color: #432b87;
}

.Modulehandle {
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}

.ModulehandleA {
  left: 3.375rem;
  transition: left 0.25s;
}

.is-ModuleButton::before {
  opacity: 1;
  text-align: right;
  color: #fff;
  letter-spacing: 0.75px;
  width: 2.325rem;
  content: "Off";
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 0.66rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
  box-sizing: inherit;
}

.is-ModuleButtonA::before {
  opacity: 0;
}

.is-ModuleButton::after {
  opacity: 0;
  text-align: left;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
  content: "On";
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 0.66rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
  box-sizing: inherit;
}

.is-ModuleButtonA::after {
  opacity: 1;
}

.is-padded {
  padding: 15px;
  padding-bottom: 5px;
  padding-right: 4vw;
}

hr {
  background-color: #1e1337;
}

//Scrollbar Setup
::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-thumb {
  background-color: darken($body-background-color, 2%);
  border-color: transparent;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
  background: none;
  border-color: transparent;
}

/*Below Is Embed Generator CSS*/

textarea.resize {
  padding: 5.5px 9px;
  min-height: 36px;
  resize: vertical;
}

.general {
  height: 360px;
  min-width: 0px;
  max-width: 100%;
  color: rgb(220, 221, 222);
  font-size: 16px;
  unicode-bidi: plaintext;
  padding: 0px 9px;
  background: #0b0715;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 3px;
  outline: none;
  transition: 0.4s ease-out 0s;
  //transition: background-color 150ms ease 0s, border-color, color;
}

.general:hover,
.general:focus {
  border-color: #4e1592;
}

.general-2 {
  height: 120px !important;
}

.resize-lock {
  resize: none !important;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

textarea:focus-visible {
  outline-offset: 0px;
}

textarea {
  -webkit-writing-mode: horizontal-tb !important;
  writing-mode: horizontal-tb !important;
  /*font-style: ;*/
  font-family: monospace;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  column-count: initial !important;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 2px;
  margin-bottom: 20px;
}

::-webkit-resizer {
  background-image: url(https://discohook.org/static/resizer-dark.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

/*
::-webkit-scrollbar {
  height: 16px;
  width: 16px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(32, 34, 37);
  border: 4px solid transparent;
  border-radius: 8px;
  min-height: 40px;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: rgb(46, 51, 56);
  border: 4px solid transparent;
  border-radius: 8px;
  margin-bottom: 8px;
  background-clip: padding-box;
}




*/

.flex {
  min-width: 0px;
  display: flex;
  flex-direction: column;
}

/* This Is Expander Area */
.accordion {
  background-color: $purple-light;
  color: #cfcfcf;
  cursor: pointer;
  padding: 18px;
  padding-left: 5px;

  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  vertical-align: middle;
}

.accordion:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:v='https://vecta.io/nano' width='16' height='16' fill='none'%3E%3Cpath d='M12 10L8 6L4 10' stroke='%23cfcfcf' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: -2.5px;

  content: "⠀⠀";
  color: rgb(185, 187, 190);
  font-weight: bold;
  float: left;
  margin-left: 5px;
  transition: transform 150ms ease 0s;
  transform-origin: 30% 50%;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  transform: rotate(90deg);
  align-self: end;
  vertical-align: middle;
}

.active:after {
  transform: rotate(180deg);
  transform: translate(15);
  transition: transform 150ms ease 0s;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.panel {
  padding: 0 18px;
  background-color: $purple-light;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.embed-preview {
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 30%) 0px 8px 8px;
  border-width: 5px;
  border-radius: 4px;
  border-left: 4px solid #58b9ff;
}

.input-embed {
  height: 36px;
  min-width: 0px;
  max-width: 100%;
  color: rgb(220, 221, 222);
  font-size: 16px;
  unicode-bidi: plaintext;
  padding: 0px 9px;
  background: #0b0715;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 3px;
  outline: none;
  transition: 0.4s ease-out 0s;
  //transition: background-color 150ms ease 0s, border-color, color;
  margin-bottom: 15px;
}

.input-embed:hover,
.input-embed:focus {
  border-color: #4e1592;
}

.edit-link {
  margin-top: 35px;
  //color: #cfed3c; fits it.
}

.edit-input {
  width: 90%;
}

em {
  color: #afafaf;
  font-size: 0.9em;
}

//Below Is Styles For A Loading Spinner
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.spinner {
  color: #ffffff;
  font-size: 10px;
  margin-right: 80px;
  margin-top: -13px;
  position: absolute;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  top: 0;
}

.spinner:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner:after {
  left: 1.5em;
}

@-webkit-keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.padded-button-text-loader {
  padding-left: 25px;
}

//End Of Spinner
.erroneousInput {
  font-size: 0.8em;
}

.sketch-picker {
  background: #0b0715 !important;

}

#rc-editable-input-1,
#rc-editable-input-2,
#rc-editable-input-3,
#rc-editable-input-4,
#rc-editable-input-5 {
  width: 90% !important;
  color: rgb(220, 221, 222) !important;
  background: #040207 !important;
  box-shadow: none !important;
  border-radius: 6px !important;
  outline: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  transition: 0.4s ease-out 0s !important;
  border-color: transparent !important;
}

#rc-editable-input-1:hover,
#rc-editable-input-1:focus,
#rc-editable-input-2:hover,
#rc-editable-input-2:focus,
#rc-editable-input-3:hover,
#rc-editable-input-3:focus,
#rc-editable-input-4:hover,
#rc-editable-input-4:focus,
#rc-editable-input-5:hover,
#rc-editable-input-5:focus {
  border-color: #4e1592 !important;
}

label {
  color: #fff !important;
}

.serverList {
  padding-top: 15px;
}

.userBanner {
  background-repeat: "no-repeat";
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 16px;
}

.userBannerText {
  background-color: #1e1337;
  opacity: 0.9;
  position: absolute;
  top: 50%;
  right: 45%;
  margin: -25px 0 0 -25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 32px;
}

.userName {
  font-size: 1.5rem;
}

.listImage {
  border-radius: 32px;
  transition: 0.4s;
}

.listImage:hover {
  border-radius: 16px;
  cursor: pointer;
}


//Success Animations

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #9b42c1;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #581a73;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #9b42c1;
  }
}

// END OF SUCCESS ANIMATIONS
//Start of Fail Animation
.glitch {
  color: red;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip-path: inset(72% 0 26% 0);
  }

  5% {
    clip-path: inset(35% 0 64% 0);
  }

  10% {
    clip-path: inset(92% 0 5% 0);
  }

  15% {
    clip-path: inset(64% 0 34% 0);
  }

  20% {
    clip-path: inset(88% 0 6% 0);
  }

  25% {
    clip-path: inset(1% 0 70% 0);
  }

  30% {
    clip-path: inset(84% 0 4% 0);
  }

  35% {
    clip-path: inset(50% 0 46% 0);
  }

  40% {
    clip-path: inset(2% 0 38% 0);
  }

  45% {
    clip-path: inset(98% 0 1% 0);
  }

  50% {
    clip-path: inset(37% 0 51% 0);
  }

  55% {
    clip-path: inset(53% 0 29% 0);
  }

  60% {
    clip-path: inset(72% 0 14% 0);
  }

  65% {
    clip-path: inset(40% 0 43% 0);
  }

  70% {
    clip-path: inset(2% 0 62% 0);
  }

  75% {
    clip-path: inset(92% 0 9% 0);
  }

  80% {
    clip-path: inset(67% 0 12% 0);
  }

  85% {
    clip-path: inset(82% 0 18% 0);
  }

  90% {
    clip-path: inset(53% 0 46% 0);
  }

  95% {
    clip-path: inset(55% 0 39% 0);
  }

  100% {
    clip-path: inset(67% 0 34% 0);
  }
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 blue;
  top: 0;
  color: red;
  background: var(--darker-background);
  overflow: hidden;
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip-path: inset(7% 0 3% 0);
  }

  5% {
    clip-path: inset(52% 0 9% 0);
  }

  10% {
    clip-path: inset(69% 0 18% 0);
  }

  15% {
    clip-path: inset(7% 0 17% 0);
  }

  20% {
    clip-path: inset(14% 0 71% 0);
  }

  25% {
    clip-path: inset(75% 0 20% 0);
  }

  30% {
    clip-path: inset(16% 0 50% 0);
  }

  35% {
    clip-path: inset(27% 0 40% 0);
  }

  40% {
    clip-path: inset(30% 0 40% 0);
  }

  45% {
    clip-path: inset(39% 0 22% 0);
  }

  50% {
    clip-path: inset(66% 0 29% 0);
  }

  55% {
    clip-path: inset(92% 0 4% 0);
  }

  60% {
    clip-path: inset(6% 0 51% 0);
  }

  65% {
    clip-path: inset(99% 0 2% 0);
  }

  70% {
    clip-path: inset(4% 0 82% 0);
  }

  75% {
    clip-path: inset(22% 0 44% 0);
  }

  80% {
    clip-path: inset(85% 0 1% 0);
  }

  85% {
    clip-path: inset(9% 0 14% 0);
  }

  90% {
    clip-path: inset(28% 0 21% 0);
  }

  95% {
    clip-path: inset(67% 0 3% 0);
  }

  100% {
    clip-path: inset(100% 0 1% 0);
  }
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 red;
  top: 0;
  color: blue;
  background: var(--darker-background);
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}

//END OF FAIL ANIMATION

.center-btn {
  margin-left: 40%;
}

.auto-height {
  height: auto;
}


#emoji-button,
#twemoji-button {
  padding: 5px;
  position: relative;
  top: 8px;
  cursor: pointer;
}

img.emoji {
  height: 1.4em;
  width: 1.4em;
  margin: .02em .05em 0 .1em;
  vertical-align: -0.1em;
}

button.icn-smileys_people {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 8.731 8.731' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M3.91 8.706a5.46 5.46 0 0 1-.777-.16C1.596 8.104.407 6.813.08 5.232a4.1 4.1 0 0 1-.077-1.027c.017-.529.092-.919.265-1.384C.746 1.542 1.828.537 3.131.162c.48-.138.652-.161 1.22-.162.535-.001.667.013 1.092.119 1.606.4 2.867 1.721 3.202 3.356a4.57 4.57 0 0 1 0 1.758 4.39 4.39 0 0 1-2.306 3.02 4.51 4.51 0 0 1-1.245.414 8.44 8.44 0 0 1-1.184.04zm.791-.871c1.158-.116 2.183-.798 2.743-1.825a3.51 3.51 0 0 0-.76-4.273 3.5 3.5 0 0 0-3.803-.552C1.564 1.797.743 3.215.878 4.647c.129 1.376.995 2.512 2.278 2.987.509.189 1.013.254 1.546.201zm-.559-1.093a2.37 2.37 0 0 1-1.449-.672c-.228-.225-.448-.545-.537-.778l-.022-.057h2.229 2.229l-.058.134a2.68 2.68 0 0 1-.493.695c-.38.377-.92.634-1.409.671l-.222.019c-.032.004-.152-.002-.267-.012zM2.599 3.872a.76.76 0 0 1-.38-.388c-.083-.243-.023-.51.152-.679.138-.133.235-.176.427-.188a.47.47 0 0 1 .29.046.66.66 0 0 1 .34.34.47.47 0 0 1 .046.29c-.012.192-.055.289-.188.427-.169.175-.448.236-.689.151zm3.055-.007a.72.72 0 0 1-.344-.313c-.03-.058-.052-.155-.059-.259a.47.47 0 0 1 .046-.29.66.66 0 0 1 .34-.34.47.47 0 0 1 .29-.046c.192.012.289.055.427.188.257.248.255.652-.005.911a.63.63 0 0 1-.697.149z' fill='%234e1592'/%3E%3C/svg%3E") !important;

}

button.icn-animals_nature {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 8.731 8.731' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M.42 8.34l-.157-.396.34-.168c.319-.157.968-.557.966-.596 0-.01-.085-.066-.187-.124-.232-.133-.688-.559-.864-.807a3.22 3.22 0 0 1-.435-.896C.009 5.111.001 5.039 0 4.597c-.001-.57.057-.866.251-1.28C.802 2.142 2.398 1.05 4.61.335 5.143.163 5.786-.003 5.908 0c.084.002.253.187.598.655.637.862 1.093 1.957 1.286 3.086a7.29 7.29 0 0 1-.001 1.803c-.276 1.529-1.18 2.523-2.504 2.754-.334.058-.687.042-1.042-.049-.259-.066-.615-.229-.765-.349l-.091-.073.229-.299.26-.341c.026-.035.065-.022.214.068a1.27 1.27 0 0 0 .748.199c.319 0 .661-.081.926-.22.299-.156.679-.556.854-.898.276-.539.376-1.064.351-1.837-.018-.566-.085-.92-.289-1.546-.208-.636-.648-1.476-.995-1.898L5.613.966l-.267.067c-1.595.4-3.253 1.305-3.986 2.176A1.92 1.92 0 0 0 .867 4.58c0 .524.131.89.456 1.277.219.26.41.408.729.565l.254.124.124-.119c.456-.44 1.041-1.28 1.402-2.013.217-.441.518-1.237.518-1.369 0-.07.033-.067.477.044l.384.096-.018.095c-.039.201-.277.876-.437 1.238C4.103 5.999 3.067 7.252 1.795 8.1c-.312.208-.993.572-1.157.618-.054.015-.08-.03-.218-.378z' fill='%234e1592'/%3E%3C/svg%3E") !important;

}

button.icn-food_drink {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 8.731 8.731' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M2.308 8.661c-.059-.052-.357-.766-1.193-2.856L0 2.955c0-.035.034-.097.075-.138.07-.07.097-.075.382-.075.266 0 .315.008.368.061.034.034.063.085.065.115.011.17-.036.246-.185.298l-.088.031.934 2.329.954 2.329c.011 0 .441-1.052.955-2.337l.935-2.337H2.974 1.555l-.075-.075a.23.23 0 0 1 0-.339l.075-.075h1.653H4.86l.078.078c.06.06.075.101.065.176-.007.054-.511 1.335-1.119 2.847L2.702 8.661c-.052.046-.117.069-.196.069s-.145-.023-.197-.069zM.109 2.426c-.133-.133-.092-.328.084-.402.088-.037.101-.059.136-.244C.413 1.34.636.945.99.612A2.12 2.12 0 0 1 2.247.016c.448-.06.983.052 1.382.288.094.056.27.195.392.309.354.333.577.728.661 1.168.035.184.047.207.136.244.176.073.218.269.086.401-.077.077-.08.077-.542.067-.43-.009-.473-.015-.565-.081-.131-.093-.182-.198-.236-.486C3.437 1.28 2.957.749 2.326.562a.41.41 0 0 0-.351.014A1.79 1.79 0 0 0 .777 2.017c-.037.261-.213.445-.45.472-.12.013-.149.005-.217-.063z' fill='%234e1592'/%3E%3C/svg%3E") !important;

}

button.icn-travel_places {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 8.731 8.731' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M.612 8.658c-.097-.103-.074-.19.14-.524l.208-.336c.007-.019-.047-.035-.154-.047-.317-.034-.6-.227-.735-.502L0 7.103v-2.88-2.88l.073-.155A.93.93 0 0 1 .545.737C.678.687.742.684 1.662.684h.976L2.7.536c.075-.18.283-.398.458-.479.099-.046.17-.057.368-.057.221 0 .261.008.396.076a.97.97 0 0 1 .433.466l.059.142h.976l1.116.053a.85.85 0 0 1 .461.433l.085.172v2.881 2.881l-.072.146c-.135.275-.388.45-.719.497l-.197.028.216.336c.138.215.216.362.216.408.001.141-.19.249-.308.175-.02-.013-.167-.225-.325-.471l-.289-.448-2.051-.006-2.051-.006-.256.403-.319.477c-.08.095-.205.102-.286.015zm2.852-1.395c.056-.066.062-.096.062-.318s.005-.25.063-.309.064-.063.618-.063c.55 0 .556-.001.628-.062s.072-.063.072-.39 0-.327-.072-.39l-.072-.062H3.387 2.012l-.131-.065c-.234-.116-.233-.116-.55-1.511l-.284-1.355c.001-.128.072-.288.17-.38.164-.154.115-.15 1.909-.15H4.77l.076-.076c.071-.071.076-.088.076-.285 0-.188.006-.216.063-.273l.063-.063h.61.61l.076-.076c.089-.089.096-.175.022-.27l-.054-.068h-.952-.952l-.069.155a1.02 1.02 0 0 1-.427.444c-.098.052-.15.061-.385.061-.252 0-.281-.005-.408-.076-.173-.096-.328-.263-.41-.443l-.064-.14h-.955l-1.027.037c-.106.055-.23.207-.248.304-.008.046-.012 1.323-.008 2.837L.413 7.03l.063.093a.52.52 0 0 0 .281.202c.038.012.648.019 1.356.016l1.287-.005zm-2.162-.413c-.056-.038-.101-.098-.126-.168-.033-.096-.033-.122 0-.218.049-.14.172-.227.322-.227s.273.087.322.227c.033.096.033.122 0 .218-.049.14-.172.227-.322.227-.07 0-.14-.021-.196-.059zm3.705-1.641c.054-.059.593-2.42.573-2.504-.008-.032-.044-.07-.08-.084-.075-.029-3.834-.03-3.936-.002a.14.14 0 0 0-.086.081c-.028.084.504 2.439.567 2.509.04.045.121.047 1.481.047l1.481-.047zM3.759 1.304c.056-.029.131-.096.166-.149C4.141.827 3.915.4 3.526.4s-.615.427-.399.755c.126.192.415.26.633.149z' fill='%234e1592'/%3E%3C/svg%3E") !important;

}

button.icn-activities {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 8.731 8.731' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M.844 8.666C.35 8.489.042 8.078.004 7.547a1.35 1.35 0 0 1 .131-.714c.089-.188.321-.436.464-.495l.096-.04-.074-.079c-.132-.14-.263-.376-.329-.593-.111-.362-.096-.523.276-2.86L.94.526c.074-.237.299-.45.546-.516.084-.023.451-.008 1.397.056l1.454.171c.21.103.39.319.457.547.043.149.041.245-.028 1.267-.084 1.232-.082 1.255.097 1.447.108.116.142.129 1.397.522l1.622.591c.507.382.634 1.201.263 1.687-.07.091-.098.153-.08.176.283.38.375.617.375.968a1.25 1.25 0 0 1-.744 1.187c-.165.077-.209.084-.543.084-.343 0-.374-.005-.561-.094-.109-.052-.249-.139-.312-.194l-.114-.1-.097.091c-.249.233-.537.325-.956.305-.329-.016-.495-.074-.746-.263l-.152-.115-.105.09c-.058.05-.194.133-.302.185-.187.09-.215.095-.56.095s-.374-.005-.561-.094c-.109-.052-.249-.139-.312-.194l-.114-.1-.097.091c-.231.215-.51.312-.897.311-.179-.001-.311-.019-.426-.061zm.719-.62c.243-.102.369-.308.369-.604 0-.401-.247-.652-.641-.65-.439.002-.733.383-.629.816.092.382.528.594.901.438zm2.02-.033a.59.59 0 0 0 .211-.208c.079-.127.091-.175.091-.363s-.012-.236-.091-.363c-.126-.204-.268-.273-.56-.273-.269 0-.391.058-.524.246-.101.143-.138.407-.085.603.044.163.201.338.352.393a.91.91 0 0 0 .606-.036zm1.884.033c.243-.102.369-.308.369-.604 0-.401-.247-.652-.641-.65-.439.002-.733.383-.629.816.092.382.528.594.901.438zm2.02-.033a.59.59 0 0 0 .211-.208c.079-.127.091-.175.091-.363s-.012-.236-.091-.363c-.126-.204-.268-.273-.56-.273-.269 0-.391.058-.524.246-.101.143-.138.407-.085.603.044.163.201.338.352.393a.91.91 0 0 0 .606-.036zm-.185-1.887c.345-.08.503-.42.354-.763-.078-.179-.199-.285-.41-.357-.223-.077-.28-.077-.305 0-.088.278-.457.357-.607.13-.046-.07-.051-.241-.012-.368.012-.04-.225-.148-.335-.153-.027-.001-.079.071-.128.175-.065.139-.107.189-.196.231-.101.048-.126.049-.235.011a.27.27 0 0 1-.18-.162c-.06-.124-.057-.153.056-.414.017-.039-.009-.06-.122-.098-.079-.027-.165-.049-.191-.049s-.127.143-.259.384l-.281.468c-.192.23-.584.057-.542-.24.009-.062.121-.301.25-.531l.234-.419-.069-.093c-.038-.051-.099-.147-.136-.212l-.067-.119-.479.585-.586.687c-.274.261-.757.372-1.139.262-.22-.063-.293-.108-.651-.393l-.295-.213c-.026.026-.094.52-.095.687a.98.98 0 0 0 .785.951c.205.044 5.456.055 5.643.012zm-4.84-1.693c.153-.071.151-.069.947-1.042.632-.772.665-.82.682-.965.01-.084.011-.165.002-.179s-.45-.026-.98-.026H2.15l-.092-.077c-.116-.098-.148-.243-.081-.372.093-.181.127-.186 1.192-.186h.966l.019-.095c.034-.168.021-.557-.02-.613-.06-.082-.2-.099-1.392-.174L1.589.679c-.051.054-.52 3.021-.483 3.053.19.167.837.664.917.705a.49.49 0 0 0 .441-.004zm-.368-.304c-.268-.163-.142-.577.175-.577.144 0 .289.117.315.255.024.128-.048.273-.167.334a.29.29 0 0 1-.323-.012z' fill='%234e1592'/%3E%3C/svg%3E") !important;

}

button.icn-objects {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 8.731 8.731' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M1.921 6.948C.999 6.805.242 5.946.045 4.819A4.58 4.58 0 0 1 0 4.184v-.379l.674-1.575.933-1.989c.351-.308.884-.322 1.207-.032.096.086.419.542.58.816.012.021-.021.06-.079.094l-.366.232-.267.173-.216-.336L2.23.853c-.015 0-1.012 2.289-1.118 2.568-.019.05.047.053 1.13.053h1.15l.122-.11c.067-.061.213-.153.324-.206.186-.088.226-.096.522-.096s.336.007.522.096c.111.053.257.145.324.206l.122.11h1.15l1.13-.053L6.489.853c-.011 0-.117.15-.236.335l-.216.336-.359-.232-.365-.238c-.023-.02.491-.755.591-.845.323-.29.856-.275 1.207.032.13.115.135.125.937 1.997l.678 1.584-.016.489c-.022.692-.156 1.149-.483 1.649-.537.822-1.373 1.168-2.237.926a1.76 1.76 0 0 1-.984-.823c-.164-.345-.197-.532-.217-1.234-.02-.695-.031-.744-.205-.858a.52.52 0 0 0-.449 0c-.174.114-.185.163-.205.858-.02.701-.053.888-.217 1.234-.116.244-.425.559-.68.694a1.97 1.97 0 0 1-1.113.192zm.702-.937a.6.6 0 0 0 .233-.212c.157-.236.193-.413.193-.959v-.482H1.966.884v.108c0 .194.094.542.217.798.185.388.504.701.82.804.144.047.556.013.702-.058zm4.345-.014c.213-.109.503-.428.636-.7.12-.245.231-.639.231-.822v-.117H6.75 5.665l.011.541c.01.472.02.563.079.712.14.354.376.491.814.474.189-.008.278-.027.398-.089z' fill='%234e1592'/%3E%3C/svg%3E") !important;

}

button.icn-symbols {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 8.731 8.731' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M4.199 7.875l-.931-.848-1.753-1.664C.714 4.511.188 3.628.04 2.887c-.069-.345-.047-.876.048-1.179C.297 1.045.746.518 1.352.227A1.96 1.96 0 0 1 2.412 0c.358.001.449.013.688.085a2.74 2.74 0 0 1 1.137.67l.128.122.175-.16A2.71 2.71 0 0 1 5.643.083c.233-.071.325-.082.682-.083a1.96 1.96 0 0 1 1.06.227c.602.289 1.054.819 1.263 1.481a2.98 2.98 0 0 1 .065 1.093c-.166.951-.871 2.019-2.098 3.176L4.363 8.02a1.93 1.93 0 0 1-.165-.145zm.374-1.208l2.346-2.284c.712-.855 1.028-1.601.935-2.209C7.672.978 6.3.466 5.301 1.221a6.63 6.63 0 0 0-.534.523l-.399.407c-.01 0-.189-.182-.398-.405l-.518-.516C2.905.793 2.131.742 1.569 1.106c-.363.234-.621.636-.687 1.068-.11.721.352 1.628 1.379 2.71.359.378 2.06 1.945 2.111 1.945.013 0 .103-.073.201-.162z' fill='%234e1592'/%3E%3C/svg%3E") !important;

}

button.icn-flags {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 8.731 8.731' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M0 4.355V0h2.565H5.13l.246.481.246.481 1.544.009L8.71.98v2.65 2.65H6.861 5.011l-.234-.473-.234-.473H2.761.979v1.688V8.71H.49 0zm7.731-.726V1.924h-1.36-1.36l-.234-.473-.234-.473H2.761.979v1.688 1.688h2.076 2.076l.223.447.258.49c.026.032.283.042 1.077.042h1.042z' fill='%234e1592'/%3E%3C/svg%3E") !important;

}
aside.emoji-picker-react {
  background-color: #06040b !important;
}
.emoji-search {
  background-color: #0b0715 !important;
}

.emoji-group:before {
  background-color: rgba(6, 4, 11, 0.95) !important;
}
.active-category-indicator {
  background-color: #5200a8 !important;
}
.hidden {
  visibility: hidden;
}