@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

// Set your brand colors
$purple: rgba(78, 21, 146, 1);
$purple-light:#0e091c;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$text-colour: #cfcfcf;
$upper-body-color: #15131a;

$gray-medium: rgb(33, 33, 33);
$gray-dark: #080808;
$gray-light: rgb(39, 39, 39);

// Update Bulma's global variables
$family-primary: "Quicksand", sans-serif;
$family-sans-serif: "Quicksand", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text: $text-colour;
$text-strong: #fff;

$info: #ac7fdbff;

// Update some of Bulma's component variables
$body-background-color: #06040b;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-background-color: $upper-body-color;
$input-disabled-background-color: $upper-body-color;

//Buttons
$button-focus-box-shadow-color: $purple;

//Title Properties

$title-color: #fff;

//Navbar

$navbar-background-color: #0d0b12;

//Menu

$menu-item-hover-background-color: darken($body-background-color, 1%);

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/components/menu.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/grid/columns.sass";

// Below Here Is General CSS Code
html,
body {
  height: 100%;
}

a.navbar-item {
  color: $text-colour;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: transparent;
  color: #fff;
}

// Here Is Wave Seperator Stuff

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.is-100 {
  width: 100%;
  height: 100%;
}

.layer1 {
  background-image: url("../images/wave1.svg");
}

.button-gradient {
  background: rgb(88, 101, 242);
  background: linear-gradient(90deg, rgba(88, 101, 242, 1) 0%, $purple 64%);
}

.button-login {
  background: $upper-body-color;
  box-shadow: 0 0 0 0.125em #4e1592;
}

.button-heading {
  padding: 0 27px;
  outline: none;
  border-radius: 8px;
  border-color: $upper-body-color;
  top: 0;

  transition: all 0.3s ease-in-out;
  margin-left: 0.9rem !important;
  margin-right: 0.9rem !important;
}

.button-heading:hover {
  border-color: $upper-body-color;
  color: #fff;
  transform: scale(1.2);
  top: -10px;
}
.button-heading:focus {
  border-color: $upper-body-color;
  color: #fff;
}

.l-align {
  text-align: left;
}
.r-align {
  text-align: right;
}
.c-align {
  text-align: center;
}
.is-purple {
  color: $purple;
}
.is-soft-bottom {
  margin-bottom: 35px;
}
.no-select {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.is-scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
}
.is-tall {
  height: 100%;
}
.is-fixed {
  position: fixed;
}
#aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 16%;
}
#main {
  background-color: #0b0715;

  min-width: auto;
  height: fit-content;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 30px;
  word-break: break-all;
  border-bottom-right-radius: 30px;
}

.is-card {
  background-color: #0e091c;
  border-radius: 30px;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.is-list {
  background-color: #0b0716;
  border-radius: 30px;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
.is-indented {
  padding-left: 10px;
}
//Slider CSS Properties
.is-ToggleButton {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #1f143f;
  top: 50%;
  transform: translateY(-50%);
}

.is-ToggleButton:focus,
.is-ToggleButton.focus,
.is-ToggleButton:focus.active,
.is-ToggleButton.focus.active {
  outline: none;
}

.is-ToggleButtonA {
  transition: background-color 0.25s;
  background-color: #432b87;
}

.handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.handleA {
  left: 1.6875rem;
  transition: left 0.25s;
}

.is-ToggleButton::before {
  opacity: 1;
  text-align: right;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
  content: "Off";
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
  box-sizing: inherit;
}
.is-ToggleButtonA::before {
  opacity: 0;
}

.is-ToggleButton::after {
  opacity: 0;
  text-align: left;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
  content: "On";
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
  box-sizing: inherit;
}
.is-ToggleButtonA::after {
  opacity: 1;
}

.float-right {
  float: right;
}

//Loading For Button

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  margin: 8px;
  border: 8px solid #aaf;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #aaf transparent transparent transparent;
  top: -7px;
  left: -7px;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//MODULE BUTTON
.is-ModuleButton {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 6rem;
  width: 6rem;
  border-radius: 3rem;
  color: #6b7381;
  background: #1f143f;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


.is-ModuleButton:focus,
.is-ModuleButton.focus,
.is-ModuleButton:focus.active,
.is-ModuleButton.focus.active {
  outline: none;
}

.is-ModuleButtonA {
  transition: background-color 0.25s;
  background-color: #432b87;
}

.Modulehandle {
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.ModulehandleA {
  left: 3.375rem;
  transition: left 0.25s;
}

.is-ModuleButton::before {
  opacity: 1;
  text-align: right;
  color: #fff;
  letter-spacing: 0.75px;
  width: 2.325rem;
  content: "Off";
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 0.66rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
  box-sizing: inherit;
}
.is-ModuleButtonA::before {
  opacity: 0;
}

.is-ModuleButton::after {
  opacity: 0;
  text-align: left;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
  content: "On";
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 0.66rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
  box-sizing: inherit;
}
.is-ModuleButtonA::after {
  opacity: 1;
}



.is-padded {
  padding: 15px;
  padding-bottom: 5px;
  padding-right: 4vw;
}

hr {
  background-color: #1e1337;

}

//Scrollbar Setup
::-webkit-scrollbar {
  width: auto;
}
::-webkit-scrollbar-thumb {
  background-color: darken($body-background-color, 2%);
  border-color: transparent;
  border-radius: 15px;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
  background: none;
  border-color: transparent;
}




/*Below Is Embed Generator CSS*/



textarea.resize {
  padding: 5.5px 9px;
  min-height: 36px;
  resize: vertical;
}

.general {
  height: 360px;
  min-width: 0px;
  max-width: 100%;
  color: rgb(220, 221, 222);
  font-size: 16px;
  unicode-bidi: plaintext;
  padding: 0px 9px;
  background: rgb(41, 43, 47);
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 3px;
  outline: none;
  transition: background-color 150ms ease 0s, border-color, color;
}
.general-2 {
  height: 120px !important;
}
.resize-lock {
  resize: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

textarea:focus-visible {
  outline-offset: 0px;
}

textarea {
  -webkit-writing-mode: horizontal-tb !important;
  writing-mode: horizontal-tb !important;
  /*font-style: ;*/
  font-family: monospace;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  column-count: initial !important;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 2px;
  margin-bottom: 20px;
}



::-webkit-resizer {
  background-image: url(https://discohook.org/static/resizer-dark.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

/*
::-webkit-scrollbar {
  height: 16px;
  width: 16px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(32, 34, 37);
  border: 4px solid transparent;
  border-radius: 8px;
  min-height: 40px;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: rgb(46, 51, 56);
  border: 4px solid transparent;
  border-radius: 8px;
  margin-bottom: 8px;
  background-clip: padding-box;
}




*/


.flex {
  min-width: 0px;
  display: flex;
  flex-direction: column;
}

/* This Is Expander Area */
.accordion {
  background-color: $purple-light;
  color: #cfcfcf;
  cursor: pointer;
  padding: 18px;
    padding-left: 5px;

  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  vertical-align: middle;


}


.accordion:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:v='https://vecta.io/nano' width='16' height='16' fill='none'%3E%3Cpath d='M12 10L8 6L4 10' stroke='%23cfcfcf' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: -2.5px;

  content:"⠀⠀";
  color: rgb(185, 187, 190);;
  font-weight: bold;
  float: left;
  margin-left: 5px;
transition: transform 150ms ease 0s;
transform-origin: 30% 50%;
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transform: rotate(90deg);
    align-self: end;
    vertical-align: middle

}

.active:after {
  transform: rotate(180deg);
  transform: translate(15);
  transition: transform 150ms ease 0s;
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.panel {
  padding: 0 18px;
  background-color: $purple-light;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

}



.embed-preview {
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 30%) 0px 8px 8px;
  border-color: #58b9ff !important;
  border-width: 5px;
  border-radius: 4px;
  border-left: 4px solid #202225;
}


.input-embed {
  height: 36px;
  min-width: 0px;
  max-width: 100%;
  color: rgb(220, 221, 222);
  font-size: 16px;
  unicode-bidi: plaintext;
  padding: 0px 9px;
  background: rgb(41, 43, 47);
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 3px;
  outline: none;
  transition: background-color 150ms ease 0s, border-color, color;
  margin-bottom: 15px;
}
.edit-link {
  margin-top: 35px;
}
.edit-input {
  width: 90%;
}
em {
  color: #afafaf;
  font-size: 0.9em;

}