@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

// Set your brand colors
$purple: rgba(78,21,146,1);
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$text-colour: #cfcfcf;
$upper-body-color: #15131a;

$gray-medium: rgb(33, 33, 33);
$gray-dark: #080808;
$gray-light: rgb(39, 39, 39);

// Update Bulma's global variables
$family-primary: "Quicksand", sans-serif;
$family-sans-serif: "Quicksand", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text: $text-colour;
$text-strong: #fff;

$info: #ac7fdbff;

// Update some of Bulma's component variables
$body-background-color: #06040B;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


//Buttons 
$button-focus-box-shadow-color: $purple;

//Title Properties

$title-color: #fff;

//Navbar

$navbar-background-color: #0d0b12;


//Menu

$menu-item-hover-background-color: darken($body-background-color, 1%);

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/components/menu.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/grid/columns.sass";

// Below Here Is General CSS Code
html, body {
  height: 100%;
}

a.navbar-item {
  color: $text-colour;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: transparent;
  color: #fff;
}

// Here Is Wave Seperator Stuff

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("../images/wave1.svg");
}


.button-gradient {
  background: rgb(88,101,242);
  background: linear-gradient(90deg, rgba(88,101,242,1) 0%, $purple 64%);
}

.button-login {
  background: $upper-body-color;
  box-shadow: 0 0 0 0.125em #4e1592;
}

.button-heading {

  padding: 0 27px;
  outline: none;
  border-radius: 8px;
  border-color: $upper-body-color;
  top: 0;

  transition: all .3s ease-in-out;
  margin-left: 0.9rem !important;
  margin-right: 0.9rem !important;


}

.button-heading:hover {
  border-color: $upper-body-color;
  color: #fff;
  transform: scale(1.2);
  top: -10px;
}
.button-heading:focus {

  border-color: $upper-body-color;
  color: #fff;
}

.l-align {
  text-align: left;
}
.r-align {
  text-align: right;
}
.c-align {
  text-align: center;
}
.is-purple {
  color: $purple;
}
.is-soft-bottom {
  margin-bottom: 35px;
}
.no-select {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.is-scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
}
.is-tall {
  height: 100%;
}
.is-fixed {
  position: fixed;
}
#aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 16%;
}
#main {
  margin-left: 16%;
  margin-right: 0px;
  background-color: #0b0715;
  width: 100%;
  min-width: 100%;
  height: 100%;
  padding-right: 15px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 30px;
}